<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/addproduct" method="post">

        <input type="text" name="name" placeholder="Enter name">
        <input type="text" name="image_url" placeholder="Enter Image url">
        <input type="text" name="description" placeholder="description">
        <input type="text" name="price" placeholder="price">
        <input type="text" name="rating" placeholder="rating">
        <input type="text" name="category" placeholder="Category">
        <button type="submit">Submit</button>

    </form>

</body>
</html>