<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <!-- Navigation Bar -->
    <div class="first_section">
        <nav>
            <div class="logo">
                <img src="/images/logo.png" alt="">
                <h1>Foodie</h1>
            </div>
            <div class="nav_icons">
                <a href="./index.ejs">Home</a>
                <a href="#about">About</a>
                <a href="/products">Products</a>
                <a href="#contact">Contact</a>
                <a href=<%= loginRoute %>><%= loginMessage %></a>
                <a href="/gotoCart"><img src="/images/trolley.png" alt=""></a>
            </div>
            <div class="menu_bar">
                <img src="/images/main-menu.png" alt="">
            </div>
        </nav>

        <div class="search_section">
            <form method="post" action="/searchfoodHome">
                <input type="search" name="search_input" placeholder="Search the food you want to eat">
                <button type="submit">Search</button>
            </form>
        </div>

    </div>

</body>
</html>